@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

:root {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.hamburger-line {
  width: 34px;
  height: 5px;
  background-color: #ffffff;
}

.hamburger-line.transform {
  background-color: #000000;
}

.closedLinks {
  display: none;
}

.openLinks {
  display: block;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fffffff1;
  display: flex;
  justify-content: center;
  align-items: center;
}
